<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewData["Title"]</title>
    <!-- Favicon icon -->
    <title>Admin Press Admin Template - The Ultimate Bootstrap 4 Admin Template</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Calendar CSS -->
    <link href="~/lib/calendar/dist/fullcalendar.css" rel="stylesheet" />
    <!-- Custom CSS -->
    @await RenderSectionAsync("Styles", required: false)
    <link href="~/admin/css/style.css" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link href="~/css/colors/blue.css" id="theme" rel="stylesheet">
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery.maskedinput@1.4.1/src/jquery.maskedinput.min.js" 
            type="text/javascript"></script>
</head>
<body>
    <header class="topbar" style="position: fixed; width: 100%;background: #5c4ac7;">
        <nav class="navbar top-navbar navbar-expand-md navbar-light">
            <div class="navbar-collapse">
                <!-- ============================================================== -->
                <!-- toggle and nav items -->
                <!-- ============================================================== -->
                <ul class="navbar-nav mr-auto mt-md-0">
                    <!-- This is  -->
                    <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted 
                                             waves-effect waves-dark" href="javascript:void(0)">
                        <i class="mdi mdi-menu"></i></a> </li>
                    <!-- ============================================================== -->
                    <!-- Comment -->
                    <!-- ============================================================== -->
                    <li class="nav-item dropdown">
                        @*<a class="nav-link dropdown-toggle text-muted text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="mdi mdi-message"></i>
                            <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
                        </a>*@
                        <!--<div class="dropdown-menu mailbox animated slideInUp">
                            <ul>
                                <li>
                                    <div class="drop-title">Notifications</div>
                                </li>
                                <li>
                                    <div class="message-center">-->
                                        <!-- Message -->
                                        <!--<a href="#">
                                            <div class="btn btn-danger btn-circle"><i class="fa fa-link"></i></div>
                                            <div class="mail-contnet">
                                                <h5>Luanch Admin</h5> <span class="mail-desc">Just see the my new admin!</span> <span class="time">9:30 AM</span>
                                            </div>
                                        </a>-->
                                        <!-- Message -->
                                        <!--<a href="#">
                                            <div class="btn btn-success btn-circle"><i class="ti-calendar"></i></div>
                                            <div class="mail-contnet">
                                                <h5>Event today</h5> <span class="mail-desc">Just a reminder that you have event</span> <span class="time">9:10 AM</span>
                                            </div>
                                        </a>-->
                                        <!-- Message -->
                                        <!--<a href="#">
                                            <div class="btn btn-info btn-circle"><i class="ti-settings"></i></div>
                                            <div class="mail-contnet">
                                                <h5>Settings</h5> <span class="mail-desc">You can customize this template as you want</span> <span class="time">9:08 AM</span>
                                            </div>
                                        </a>-->
                                        <!-- Message -->
                                        <!--<a href="#">
                                            <div class="btn btn-primary btn-circle"><i class="ti-user"></i></div>
                                            <div class="mail-contnet">
                                                <h5>Pavan kumar</h5> <span class="mail-desc">Just see the my admin!</span> <span class="time">9:02 AM</span>
                                            </div>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <a class="nav-link text-center" href="javascript:void(0);"> <strong>Check all notifications</strong> <i class="fa fa-angle-right"></i> </a>
                                </li>
                            </ul>
                        </div>-->
                    </li>
                    <!-- ============================================================== -->
                    <!-- End Comment -->
                    <!-- ============================================================== -->
                </ul>
                <!-- ============================================================== -->
                <!-- User profile and search -->
                <!-- ============================================================== -->
                <!--<ul class="navbar-nav my-lg-0">-->

                    <!-- ============================================================== -->
                    <!-- Profile -->
                    <!-- ============================================================== -->
                    <!--<li class="nav-item dropdown">
                        <form method="post" asp-action="Logout" asp-controller="Account" asp-area="default">
                            <button type="submit" class="nav-link dropdown-toggle text-muted waves-effect waves-dark logout-account-eee" style="font-size:20px; color: #f2f4f8 !important;background: none;border: none;"><i ></i> Выйти</button>

                        </form>
                        <div class="nav-link dropdown-toggle text-muted waves-effect waves-dark logout-account-eee" style="font-size:20px; color: black !important;">Выход</div>
                    </li>
                </ul>-->
            </div>
        </nav>
    </header>
    <aside class="left-sidebar">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav">
                <ul id="sidebarnav">
                    <li>
                        <a class="has-arrow waves-effect waves-dark" asp-area="admin"
                           asp-action="Index" asp-controller="Calendars" aria-expanded="false">
                            <i class="mdi mdi-calendar-multiple-check"></i><span class="hide-menu">График собеседований</span>
                        </a>
                    </li>
                    <li>
                        <a class="has-arrow waves-effect waves-dark" asp-area="admin"
                           asp-action="Index" asp-controller="Vacancies" aria-expanded="false">
                            <i class="mdi mdi-chart-timeline"></i><span class="hide-menu">Вакансии</span>
                        </a>
                    </li>
                    <li>
                        <a class="has-arrow waves-effect waves-dark" asp-area="admin"
                           asp-action="Index" asp-controller="Recordings" aria-expanded="false">
                            <i class="mdi mdi-information-outline"></i><span class="hide-menu">Информация по записи</span>
                        </a>
                    </li>
                    <li>
                        <a class="has-arrow waves-effect waves-dark" asp-area="admin"
                           asp-action="Index" asp-controller="OtherTime" aria-expanded="false">
                            <i class="mdi mdi-av-timer"></i><span class="hide-menu">Запросы на другое время</span>
                        </a>
                    </li>
                    <li>
                        <a class="has-arrow waves-effect waves-dark" asp-area="admin"
                           asp-action="Index" asp-controller="Candidates" aria-expanded="false">
                            <i class="mdi mdi-av-timer"></i><span class="hide-menu">Кандидаты</span>
                        </a>
                    </li>
                    <li>
                        <a class="has-arrow waves-effect waves-dark" asp-action="Register"
                           asp-controller="Account" asp-area="default" aria-expanded="false">
                            <i class="mdi mdi-account-plus"></i><span class="hide-menu">Зарегистрировать админа</span>
                        </a>
                    </li>
                    <li>
                        <a class="has-arrow waves-effect waves-dark logouti" asp-action="logout"
                           asp-controller="Account" asp-area="default" asp-po aria-expanded="false">
                            <i class="mdi mdi-arrow-bottom-right"></i><span class="hide-menu">Выйти</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
    </aside>
    <div class="page-wrapper cont">
        <div class="container-fluid">
            @RenderBody()
        </div>
    </div>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="~/lib/bootstrap/js/popper.min.js"></script>

    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="~/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="~/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="~/js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="~/lib/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <script src="~/lib/sparkline/jquery.sparkline.min.js"></script>
    <!--Custom JavaScript -->
    <script src="~/js/custom.min.js"></script>

    <script>
        $(".logouti").click(function () {
            $.ajax({
                    url: "/account/logout?area=default",
                    type: 'POST',
                    data: { },
                    success: function (response) {
                        $(location).attr('href', response);
                    },
                    error: function () {
                        console.log("error");
                    }
            });
        })
    </script>
    @await RenderSectionAsync("Scripts", required: false)
    <!-- ============================================================== -->
    <!-- Style switcher -->
    <!-- ============================================================== -->
    <script src="~/lib/styleswitcher/jQuery.style.switcher.js"></script>
    <!-- This Page JS -->
    <script src="~/lib/inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>
</body>
</html>
