.head-calendars{
    width: 100%;
    display:flex;
    justify-content:flex-end;
    padding-bottom: 14px;
}
.create-butt-a {
    font-size: 20px;
    padding: 4px 11px;
    border-radius: 5px;
}
.start-div-calendar-block{
    display:flex;
    justify-content:space-between;
}
.limitation-end-block {
    display: flex;
    width: 80%;
/*    overflow-x: scroll;*/
}
    .limitation-end-block::-webkit-scrollbar {
        width: 0px;
    }
.global-calandar-block {
    background: white;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
.name-calendar{
    font-size: 25px;
    padding: 3px 0px;
}
.selector-calendar{
    height: 14px;
}
.element-end-block {
    font-size: 16px;
    padding-bottom: 5px;
    padding-right: 5px;
}
.element-time-end-block {
    font-size: 16px;
    padding-bottom: 5px;
    padding-left: 3px;
    padding-right: 3px;
}
.element-times-block {
    display: flex;
}
.right-div-start-block{
    display:flex;
    justify-content:flex-end;
    align-items: center;
}
.err-block {
    font-size: 16px;
    padding: 0px 15px;
    color: red;
}
.detail-a {
    font-size: 18px;
    color: white !important;
    padding: 5px 8px;
    border-radius: 5px;
}
.cont {
    padding-top: 130px !important;
    padding-bottom: 0px !important;
}

.detail-aa {
    font-size: 18px;
    color: white !important;
    padding: 5px 8px;
    border-radius: 5px;
    background: #bb7777 !important;
    border-color: #bb7777 !important;
}

@media screen and (max-width: 600px) {
    .err-block {
        display:none;
    }
    .end-div-calendar-block{
        display:none;
    }
}
@media screen and (max-width: 1000px) {
    .limitation-end-block {
        overflow-x: scroll;
    }
}
@media screen and (max-width: 767px) {
    .cont {
        padding-top: 76px !important;
    }
}